<header id='headerhome'>
  <div id='headerMenu'>
    <li><a href='/products'>Tienda</a></li>
    <li><a href='/profile'>Perfil</a></li>
    <li><a id='btnLogout' href='/logout'>Logout</a></li>
  </div>
</header>
<h1>Current</h1>
<p>Nombre: {{name}}</p>
<p>Apellido:{{lastName}}</p>
<p>Email: {{email}}</p>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='/js/logout'></script>