<main id='loginMain'>
  <section class='loginSection'>
    <div class='loginDiv'>
      <span class='logo'></span>
      <h1 class='loginTitle'>Login</h1>
      <form class='loginForm' id='loginForm'>
        <label>Correo electrónico</label>
        <input name='email' placeholder='email@gmail.com' />
        <label>Contraseña</label>
        <input type='password' name='password' placeholder='********' />
        <button class='loginButton'>Login</button>
      </form>
      <a href='/forgot-password'>Reset Password</a>
      <a href='/register' style='margin: 20px 0; color: #ffff;'>Registrate aqui</a>
    </div>
  </section>
</main>
<script src='/js/login.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>