<main>
  <section class="registerSection">
    <div class="registerDiv">
      <span class="logo"></span>
      <h1 class="registerTitle">Register</h1>
      <form class="registerForm" id="registerForm">
        <span></span>
        <label>Nombre</label>
        <input type="text" name="firstName" placeholder="Pablo" />
        <label>Apellido</label>
        <input type="text" name="lastName" placeholder="Diaz" />
        <label>Correo electrónico</label>
        <input type="email" name="email" placeholder="email@gmail.com" />
        <label>Contraseña</label>
        <input type="password" name="password" placeholder="********" />
        <button class="registerButton">Register</button>
      </form>
      <a href="/login" style="color: #ffff; margin-top: 20px;">¿Ya tienes una
        cuenta? Ir al login.</a>
    </div>
  </section>
</main>

<script src="/js/register.js"></script>