.navbarestilos {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(114, 47, 55);
}
.navbarestilos a {
  color: rgb(255, 255, 255);
}
